<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />
    <script src="https://cdn.jsdelvr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="'checkbox" id="checkbox" v-model="checked" />
        <label for="checkbox"> {{ checked }} </label>
        <div></div>
        <input type="checkbox" id="jack" v-model="checkedNames" />
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="2" v-model="checkedNames" />
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="3" v-model="checkedNames" />
        <label for="mike">Mike</label>
        <br />
        <span> Checked Name: {{ checked names }}</span>
    </div>
</body>
</html>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'hello Vue!',
            checked: false,
            checkedNames: [],
        },
    });
</script>